p {
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    color: #2F9385;
}

.list{
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    color: #2F9385;
    font-weight: bold;
}

div {
    padding-left: 10px;
    padding-right: 10px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
